.container {
    max-width: 1500px;
    margin: 25px auto;
    padding: 20px;
    text-align: center;
  }
  
  .options {
    margin-top: 4%;
    display: flex;
    min-height: 40px;
    justify-content: space-around;
    position: relative;
    gap: 15px;
  }

  .goMenu {
    display: flex; 
    justify-content:left; 
    width: 100%; 
    font-size: 25px; 
    padding: 10px; 
    cursor: pointer;
}
  
  .option {
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .option-disabled {
    width: 30%;
    border: 2px solid #ff0000;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: not-allowed;
  }

  .option-disabled:hover {
    transform: scale(1.05);
  }
  .option-label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 15px;
  }
  
  .option:hover {
    transform: scale(1.05);
  }