<div class="contenedor">
  <router-outlet></router-outlet>
  <footer class="footer">
    <p>Hecho por Adrià García Pons</p>
    <div class="spam">
      <a href="https://www.instagram.com/adriigarcia_7/" target="_blank">
        <img class="icon" src="assets/icon/icons8-instagram-96.png" alt="Sígueme en Instagram">
      </a>
      <a href="https://www.linkedin.com/in/adrià-garcía-pons/" target="_blank">
        <img class="icon" src="assets/icon/icons8-linkedin-96.png" alt="Contáctame en WhatsApp">
      </a>
      <!-- <a href="https://www.linkedin.com/in/adrià-garcía-pons/" target="_blank">
        <img class="icon" src="../assets/icon/icons8-twitter-96.png" alt="Sigueme en Twitter">
      </a> -->
    </div>
  </footer>
</div>