.container {
  display: flex;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    margin-left: 19%;
  }

  .statement {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 17%;
  }

  p {
    margin: 0;
    padding: 0;
  }

  h1 {
    padding: 0;
    margin: 0;
  }

  .send {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .send button, .send a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

.nc {
    outline: 2px solid deeppink;
}

.nc:disabled {
    outline: 2px solid deeppink;
}


.correct {
    accent-color: #5fbe33;
}

.correct:disabled {
    accent-color: #5fbe33;
}

.wrong {
    accent-color: #ee3b0e;
}

.wrong:disabled {
    accent-color: #5fbe33;
}

.finished {
  pointer-events: none;
}