<div class="container">
    <h1 style="font-size: 35px; font-weight: bold;">ISSI Tests</h1>
    <p style="font-size: 22px;">Por favor, elige una opción:</p>
  
    <div class="options">
      <a routerLink="/aleatorio" class="option">
        <img src="../../../assets/img/aleatoriojpg.jpg" alt="Aleatorio">
        <div class="option-label">Test aleatorio</div>
      </a>
      <a routerLink="/temas" class="option">
        <img src="../../../assets/img/libross.avif" alt="Temas">
        <div class="option-label">Test por tema</div>
      </a>
      <a routerLink="/coleccion" class="option">
        <img src="../../../assets/img/amazon-cajas.jpg" alt="Coleccion">
        <div class="option-label">Colección de tests</div>
      </a>
    </div>
  </div>


